<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span class="app-name">Sun</span><span class="app-name-2">Travel</span>
      <img si src="/assets/logo.png" alt="image" style="width:80px;height:80px;"/>
      </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class = "contact-names" routerLink="/reservations" (click)="setAppBarTitle('Make Reservations')" routerLinkActive="active-list-item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="book_online"></mat-icon><span class="button-text" >Reservations</span></a>
      <a mat-list-item class = "contact-names" routerLink="/contracts" (click)="setAppBarTitle('Contracts Management')" routerLinkActive="active-list-item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="gavel"></mat-icon><span class="button-text">Contracts</span></a>
      <a mat-list-item class = "contact-names" routerLink="/hotels" (click)="setAppBarTitle('Hotels Management')" routerLinkActive="active-list-item"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="hotel"></mat-icon><span class="button-text">Hotels</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="app-bar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-bar-title">{{appBarTitle}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
