.card-header-title{
    font-size: 18px;
    font-weight: 500;
    margin-left: 1%;
    margin-bottom: 2%;
  }

  .search-card{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
  }

  .result-card{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
  }

  mat-form-field{
    width: 100%;
    min-width: 100px;
  }

  .add-btn{
    margin-top: 5px;
    height: 50px;
    background-color: rgb(23,43,77);
  }

  table{
    width: 100%;
  }

  .price-container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .btn-search{
    margin-top: 20px;
    background-color: rgb(255,153,30);
    width: 100%;
  }
